In [1]:
import os
import pandas as pd
current_dir = os.getcwd()
print("initial Working directory",current_dir)
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")
current_dir = os.getcwd()
print("Final Working Dir",current_dir)

initial Working directory h:\VScode\March Group\March_Team_Project\jupyter_notebooks
You set a new current directory
Final Working Dir h:\VScode\March Group\March_Team_Project

In [2]:
# load pollution_us_2000_2016.csv.zip
pollution = pd.read_csv('source_data/pollution_us_2000_2016.csv.zip', compression='zip')
print(pollution.head())
print(pollution.info())
print(pollution.describe())
# produce summary by city, county, state, counting the number of records, and the number of unique dates add count of unique sites
pollution['Date Local'] = pd.to_datetime(pollution['Date Local'])
pollution['year'] = pollution['Date Local'].dt.year
pollution_summary = pollution.groupby(['City', 'County', 'State', 'year']).agg({'Date Local': ['count', 'nunique']})
pollution_summary.columns = ['Record Count', 'Unique Dates']
print(pollution_summary)

   Unnamed: 0  State Code  County Code  Site Num  \
0           0           4           13      3002
1           1           4           13      3002
2           2           4           13      3002
3           3           4           13      3002
4           4           4           13      3002

                                   Address    State    County     City  \
0  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
1  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
2  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
3  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix
4  1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa  Phoenix

   Date Local          NO2 Units  ...          SO2 Units  SO2 Mean  \
0  2000-01-01  Parts per billion  ...  Parts per billion  3.000000
1  2000-01-01  Parts per billion  ...  Parts per billion  3.000000
2  2000-01-01  Parts per billion  ...  Parts per billion  2.975000
3  2000-01-01  Parts per billion  ...  Parts per billion  2.975000
4  2000-01-02  Parts per billion  ...  Parts per billion  1.958333

   SO2 1st Max Value  SO2 1st Max Hour SO2 AQI           CO Units   CO Mean  \
0                9.0                21    13.0  Parts per million  1.145833
1                9.0                21    13.0  Parts per million  0.878947
2                6.6                23     NaN  Parts per million  1.145833
3                6.6                23     NaN  Parts per million  0.878947
4                3.0                22     4.0  Parts per million  0.850000

   CO 1st Max Value  CO 1st Max Hour CO AQI
0               4.2               21    NaN
1               2.2               23   25.0
2               4.2               21    NaN
3               2.2               23   25.0
4               1.6               23    NaN

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746661 entries, 0 to 1746660
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   State Code         int64
 2   County Code        int64
 3   Site Num           int64
 4   Address            object
 5   State              object
 6   County             object
 7   City               object
 8   Date Local         object
 9   NO2 Units          object
 10  NO2 Mean           float64
 11  NO2 1st Max Value  float64
 12  NO2 1st Max Hour   int64
 13  NO2 AQI            int64
 14  O3 Units           object
 15  O3 Mean            float64
 16  O3 1st Max Value   float64
 17  O3 1st Max Hour    int64
 18  O3 AQI             int64
 19  SO2 Units          object
 20  SO2 Mean           float64
 21  SO2 1st Max Value  float64
 22  SO2 1st Max Hour   int64
 23  SO2 AQI            float64
 24  CO Units           object
 25  CO Mean            float64
 26  CO 1st Max Value   float64
 27  CO 1st Max Hour    int64
 28  CO AQI             float64
dtypes: float64(10), int64(10), object(9)
memory usage: 386.5+ MB
None
         Unnamed: 0    State Code   County Code      Site Num      NO2 Mean  \
count  1.746661e+06  1.746661e+06  1.746661e+06  1.746661e+06  1.746661e+06
mean   5.471414e+04  2.230907e+01  7.169381e+01  1.118214e+03  1.282193e+01
std    3.372908e+04  1.725621e+01  7.948023e+01  2.003103e+03  9.504814e+00
min    0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00 -2.000000e+00
25%    2.575300e+04  6.000000e+00  1.700000e+01  9.000000e+00  5.750000e+00
50%    5.304500e+04  1.700000e+01  5.900000e+01  6.000000e+01  1.073913e+01
75%    8.033600e+04  4.000000e+01  9.700000e+01  1.039000e+03  1.771364e+01
max    1.345750e+05  8.000000e+01  6.500000e+02  9.997000e+03  1.395417e+02

       NO2 1st Max Value  NO2 1st Max Hour       NO2 AQI       O3 Mean  \
count       1.746661e+06      1.746661e+06  1.746661e+06  1.746661e+06
mean        2.541485e+01      1.173102e+01  2.389822e+01  2.612485e-02
std         1.599963e+01      7.877501e+00  1.516280e+01  1.136974e-02
min        -2.000000e+00      0.000000e+00  0.000000e+00  0.000000e+00
25%         1.300000e+01      5.000000e+00  1.200000e+01  1.787500e-02
50%         2.400000e+01      9.000000e+00  2.300000e+01  2.587500e-02
75%         3.570000e+01      2.000000e+01  3.300000e+01  3.391700e-02
max         2.670000e+02      2.300000e+01  1.320000e+02  9.508300e-02

       O3 1st Max Value  O3 1st Max Hour        O3 AQI      SO2 Mean  \
count      1.746661e+06     1.746661e+06  1.746661e+06  1.746661e+06
mean       3.920331e-02     1.017053e+01  3.605012e+01  1.870364e+00
std        1.534362e-02     4.003144e+00  1.978042e+01  2.760435e+00
min        0.000000e+00     0.000000e+00  0.000000e+00 -2.000000e+00
25%        2.900000e-02     9.000000e+00  2.500000e+01  2.565220e-01
50%        3.800000e-02     1.000000e+01  3.300000e+01  9.875000e-01
75%        4.800000e-02     1.100000e+01  4.200000e+01  2.325000e+00
max        1.410000e-01     2.300000e+01  2.180000e+02  3.216250e+02

       SO2 1st Max Value  SO2 1st Max Hour        SO2 AQI       CO Mean  \
count       1.746661e+06      1.746661e+06  873754.000000  1.746661e+06
mean        4.492185e+00      9.664906e+00       7.115945  3.682177e-01
std         7.679866e+00      6.731228e+00      11.937473  3.140231e-01
min        -2.000000e+00      0.000000e+00       0.000000 -4.375000e-01
25%         8.000000e-01      5.000000e+00       1.000000  1.834580e-01
50%         2.000000e+00      8.000000e+00       3.000000  2.926250e-01
75%         5.000000e+00      1.400000e+01       9.000000  4.666670e-01
max         3.510000e+02      2.300000e+01     200.000000  7.508333e+00

       CO 1st Max Value  CO 1st Max Hour         CO AQI
count      1.746661e+06     1.746661e+06  873338.000000
mean       6.201067e-01     7.875026e+00       5.996595
std        6.439361e-01     7.978844e+00       5.851836
min       -4.000000e-01     0.000000e+00       0.000000
25%        2.920000e-01     0.000000e+00       2.000000
50%        4.000000e-01     6.000000e+00       5.000000
75%        8.000000e-01     1.300000e+01       8.000000
max        1.990000e+01     2.300000e+01     201.000000
                                          Record Count  Unique Dates
City        County     State        year
Albuquerque Bernalillo New Mexico   2011          1414           354
                                    2012          1436           359
                                    2013          1434           359
                                    2014          1438           363
                                    2015          1408           352
...                                                ...           ...
York        York       Pennsylvania 2012          1408           353
                                    2013          1184           297
                                    2014          1034           259
                                    2015          1252           314
                                    2016           332            84

[1425 rows x 2 columns]

In [3]:
# produce a summary by city, county, state, min year with at lwast 350 unique dates and max year with at least 350 unique dates
pollution_summary = pollution_summary.reset_index()
pollution_summary = pollution_summary[pollution_summary['Unique Dates'] >= 350]
pollution_summary = pollution_summary.groupby(['City', 'County', 'State']).agg({'year': ['min', 'max']})
pollution_summary.columns = ['Min Year', 'Max Year']
# difference between min and max year
pollution_summary['Year Difference'] = pollution_summary['Max Year'] - pollution_summary['Min Year']
# sort on Year Difference desc
pollution_summary = pollution_summary.sort_values('Year Difference', ascending=False)

print(pollution_summary)

pollution_data_available = pollution_summary.reset_index()
pollution_data_available

                                              Min Year  Max Year  \
City          County           State
Vallejo       Solano           California         2000      2015
Phoenix       Maricopa         Arizona            2000      2015
Baton Rouge   East Baton Rouge Louisiana          2000      2015
Winter Park   Orange           Florida            2000      2015
Bethel Island Contra Costa     California         2000      2015
...                                                ...       ...
Not in a city Rockingham       New Hampshire      2015      2015
              Linn             Kansas             2002      2002
              Honolulu         Hawaii             2015      2015
              Fairfax          Virginia           2006      2006
York          York             Pennsylvania       2012      2012

                                              Year Difference
City          County           State
Vallejo       Solano           California                  15
Phoenix       Maricopa         Arizona                     15
Baton Rouge   East Baton Rouge Louisiana                   15
Winter Park   Orange           Florida                     15
Bethel Island Contra Costa     California                  15
...                                                       ...
Not in a city Rockingham       New Hampshire                0
              Linn             Kansas                       0
              Honolulu         Hawaii                       0
              Fairfax          Virginia                     0
York          York             Pennsylvania                 0

[98 rows x 3 columns]

,City,County,State,Min Year,Max Year,Year Difference
0,Vallejo,Solano,California,2000,2015,15
1,Phoenix,Maricopa,Arizona,2000,2015,15
2,Baton Rouge,East Baton Rouge,Louisiana,2000,2015,15
3,Winter Park,Orange,Florida,2000,2015,15
4,Bethel Island,Contra Costa,California,2000,2015,15
...,...,...,...,...,...,...
93,Not in a city,Rockingham,New Hampshire,2015,2015,0
94,Not in a city,Linn,Kansas,2002,2002,0
95,Not in a city,Honolulu,Hawaii,2015,2015,0
96,Not in a city,Fairfax,Virginia,2006,2006,0
97,York,York,Pennsylvania,2012,2012,0

In [ ]:
# Import ghcnd-stations.txt as fixed width file using the following widths
# ID 1-11, LATITUDE 13-20, LONGITUDE 22-30, ELEVATION 32-37, STATE 39-40, NAME 42-71, GSN FLAG 73-75, HCN/CRN FLAG 77-79, WMO ID 81-85
stations_fixed = pd.read_fwf('source_data/ghcnd-stations.txt', widths=[11, 9, 10, 7, 3, 31, 4, 4, 5], header=None)
stations_fixed.columns = ['StationId', 'Latitude', 'Longitude', 'Elevation', 'StateCode', 'Name', 'GSN Flag', 'HCN/CRN Flag', 'WMO ID']
# set country to first to characters of StationId
stations_fixed['Country'] = stations_fixed['StationId'].str[:2]
stations_fixed = stations_fixed[stations_fixed['Country'] == 'US']
# load ghcnd-states.txt as fixed width file using the following widths
# STATE 1-2, NAME 4-49
states_fixed = pd.read_fwf('source_data/ghcnd-states.txt', widths=[2, 46], header=None)
states_fixed.columns = ['StateCode', 'State']
print("states_fixed", states_fixed.head())
print("stations_fixed", stations_fixed.head())
# match the state name to the state abbreviation
stations_fixed = pd.merge(stations_fixed, states_fixed, on='StateCode')
print("stations_fixed_post_merge",stations_fixed.head())

states_fixed   StateCode           State
0        AB         ALBERTA
1        AK          ALASKA
2        AL         ALABAMA
3        AR        ARKANSAS
4        AS  AMERICAN SAMOA
stations_fixed          StationId  Latitude  Longitude  Elevation StateCode  \
52997  US009052008   43.7333   -96.6333      482.0        SD
52998  US10RMHS145   40.5268  -105.1113     1569.1        CO
52999  US10adam001   40.5680   -98.5069      598.0        NE
53000  US10adam002   40.5093   -98.5493      601.1        NE
53001  US10adam003   40.4663   -98.6537      615.1        NE

                                Name GSN Flag HCN/CRN Flag  WMO ID Country
52997  SIOUX FALLS (ENVIRON. CANADA)      NaN          NaN     NaN      US
52998                   RMHS 1.6 SSW      NaN          NaN     NaN      US
52999                  JUNIATA 1.5 S      NaN          NaN     NaN      US
53000                JUNIATA 6.0 SSW      NaN          NaN     NaN      US
53001                HOLSTEIN 0.1 NW      NaN          NaN     NaN      US
stations_fixed_post_merge      StationId  Latitude  Longitude  Elevation StateCode  \
0  US009052008   43.7333   -96.6333      482.0        SD
1  US1SDAR0001   43.6320   -98.4828      481.6        SD
2  US1SDAR0002   43.5863   -98.4356      504.1        SD
3  US1SDAR0003   43.5715   -98.7424      494.4        SD
4  US1SDAR0004   43.5130   -98.4630      493.5        SD

                            Name GSN Flag HCN/CRN Flag  WMO ID Country  \
0  SIOUX FALLS (ENVIRON. CANADA)      NaN          NaN     NaN      US
1               PLANKINTON 5.8 S      NaN          NaN     NaN      US
2               STICKNEY 0.2 SSE      NaN          NaN     NaN      US
3              WHITE LAKE 10.9 S      NaN          NaN     NaN      US
4               STICKNEY 5.4 SSW      NaN          NaN     NaN      US

          State
0  SOUTH DAKOTA
1  SOUTH DAKOTA
2  SOUTH DAKOTA
3  SOUTH DAKOTA
4  SOUTH DAKOTA

In [12]:
# print pollution_summary columns
print(pollution_summary.columns)
print(pollution_summary.head())
# print states_fixed columns
print(states_fixed.columns)
print(states_fixed.head())
# print stations_fixed columns
print(stations_fixed.columns)
print(stations_fixed.head())

Index(['Min Year', 'Max Year', 'Year Difference'], dtype='object')
                                           Min Year  Max Year  Year Difference
City          County           State
Vallejo       Solano           California      2000      2015               15
Phoenix       Maricopa         Arizona         2000      2015               15
Baton Rouge   East Baton Rouge Louisiana       2000      2015               15
Winter Park   Orange           Florida         2000      2015               15
Bethel Island Contra Costa     California      2000      2015               15
Index(['StateCode', 'State'], dtype='object')
  StateCode           State
0        AB         ALBERTA
1        AK          ALASKA
2        AL         ALABAMA
3        AR        ARKANSAS
4        AS  AMERICAN SAMOA
Index(['StationId', 'Latitude', 'Longitude', 'Elevation', 'StateCode', 'Name',
       'GSN Flag', 'HCN/CRN Flag', 'WMO ID', 'Country', 'State'],
      dtype='object')
     StationId  Latitude  Longitude  Elevation StateCode  \
0  US009052008   43.7333   -96.6333      482.0        SD
1  US1SDAR0001   43.6320   -98.4828      481.6        SD
2  US1SDAR0002   43.5863   -98.4356      504.1        SD
3  US1SDAR0003   43.5715   -98.7424      494.4        SD
4  US1SDAR0004   43.5130   -98.4630      493.5        SD

                            Name GSN Flag HCN/CRN Flag  WMO ID Country  \
0  SIOUX FALLS (ENVIRON. CANADA)      NaN          NaN     NaN      US
1               PLANKINTON 5.8 S      NaN          NaN     NaN      US
2               STICKNEY 0.2 SSE      NaN          NaN     NaN      US
3              WHITE LAKE 10.9 S      NaN          NaN     NaN      US
4               STICKNEY 5.4 SSW      NaN          NaN     NaN      US

          State
0  SOUTH DAKOTA
1  SOUTH DAKOTA
2  SOUTH DAKOTA
3  SOUTH DAKOTA
4  SOUTH DAKOTA

In [13]:
# match the state column in pollution_summary to State frp, states_fixed, convert state to upper case for better matching
# Ensure 'State' columns in both dataframes are in uppercase and stripped of leading/trailing spaces for consistent matching
pollution_summary = pollution_summary.reset_index()  # Reset index to access 'State' column directly
pollution_summary['State'] = pollution_summary['State'].str.upper().str.strip()
states_fixed['State'] = states_fixed['State'].str.upper().str.strip()
# merge pollution_summary with states_fixed
pollution_summary_inc_sc = pd.merge(pollution_summary, states_fixed, left_on='State', right_on='State')
print("pollution_summary_post_merge", pollution_summary_inc_sc.head())
# add column to states_fixed with the number of stations in each state
stations_fixed_gb = stations_fixed.groupby(['StateCode', 'State'])['StationId'].count().reset_index()
stations_fixed_gb.columns = ['StateCode', 'State', 'Station Count']
print("stations_fixed_station_count", stations_fixed_gb.head())
# add the station count to the pollution_summary
pollution_summary_stat_count = pd.merge(pollution_summary_inc_sc, stations_fixed_gb, on='StateCode')
print("pollution_summary_ merge2", pollution_summary_stat_count.head())
# add the station count to the states_fixed
states_fixed = pd.merge(states_fixed, stations_fixed_gb, on='State')
print("states_fixed_stations_merge", states_fixed.head())
# sort states_fixed by Station Count desc
states_fixed = states_fixed.sort_values('Station Count', ascending=False)
print("states_fixed_sort", states_fixed)

pollution_summary_stat_count

pollution_summary_post_merge             City         County       State  Min Year  Max Year  \
0        Vallejo         Solano  CALIFORNIA      2000      2015
1  Bethel Island   Contra Costa  CALIFORNIA      2000      2015
2         Lompoc  Santa Barbara  CALIFORNIA      2000      2015
3      San Pablo   Contra Costa  CALIFORNIA      2000      2015
4        Capitan  Santa Barbara  CALIFORNIA      2000      2015

   Year Difference StateCode
0               15        CA
1               15        CA
2               15        CA
3               15        CA
4               15        CA
stations_fixed_station_count   StateCode       State  Station Count
0        AK      ALASKA           1049
1        AL     ALABAMA           1151
2        AR    ARKANSAS            961
3        AZ     ARIZONA           1692
4        CA  CALIFORNIA           3166
pollution_summary_ merge2             City         County     State_x  Min Year  Max Year  \
0        Vallejo         Solano  CALIFORNIA      2000      2015
1  Bethel Island   Contra Costa  CALIFORNIA      2000      2015
2         Lompoc  Santa Barbara  CALIFORNIA      2000      2015
3      San Pablo   Contra Costa  CALIFORNIA      2000      2015
4        Capitan  Santa Barbara  CALIFORNIA      2000      2015

   Year Difference StateCode     State_y  Station Count
0               15        CA  CALIFORNIA           3166
1               15        CA  CALIFORNIA           3166
2               15        CA  CALIFORNIA           3166
3               15        CA  CALIFORNIA           3166
4               15        CA  CALIFORNIA           3166
states_fixed_stations_merge   StateCode_x       State StateCode_y  Station Count
0          AK      ALASKA          AK           1049
1          AL     ALABAMA          AL           1151
2          AR    ARKANSAS          AR            961
3          AZ     ARIZONA          AZ           1692
4          CA  CALIFORNIA          CA           3166
states_fixed_sort    StateCode_x                        State StateCode_y  Station Count
43          TX                        TEXAS          TX           6472
5           CO                     COLORADO          CO           4784
4           CA                   CALIFORNIA          CA           3166
27          NC               NORTH CAROLINA          NC           2747
23          MN                    MINNESOTA          MN           2675
29          NE                     NEBRASKA          NE           2436
16          KS                       KANSAS          KS           2401
32          NM                   NEW MEXICO          NM           2295
9           FL                      FLORIDA          FL           2244
14          IL                     ILLINOIS          IL           2234
37          OR                       OREGON          OR           2031
15          IN                      INDIANA          IN           2020
34          NY                     NEW YORK          NY           1912
42          TN                    TENNESSEE          TN           1755
48          WA                   WASHINGTON          WA           1694
3           AZ                      ARIZONA          AZ           1692
38          PA                 PENNSYLVANIA          PA           1641
24          MO                     MISSOURI          MO           1624
49          WI                    WISCONSIN          WI           1585
40          SC               SOUTH CAROLINA          SC           1579
22          MI                     MICHIGAN          MI           1494
35          OH                         OHIO          OH           1479
46          VA                     VIRGINIA          VA           1408
10          GA                      GEORGIA          GA           1407
51          WY                      WYOMING          WY           1348
26          MT                      MONTANA          MT           1312
41          SD                 SOUTH DAKOTA          SD           1191
1           AL                      ALABAMA          AL           1151
36          OK                     OKLAHOMA          OK           1116
12          IA                         IOWA          IA           1106
0           AK                       ALASKA          AK           1049
17          KY                     KENTUCKY          KY           1012
45          UT                         UTAH          UT            986
2           AR                     ARKANSAS          AR            961
31          NJ                   NEW JERSEY          NJ            870
19          MA                MASSACHUSETTS          MA            852
18          LA                    LOUISIANA          LA            849
13          ID                        IDAHO          ID            846
11          HI                       HAWAII          HI            801
20          MD                     MARYLAND          MD            759
33          NV                       NEVADA          NV            714
25          MS                  MISSISSIPPI          MS            673
28          ND                 NORTH DAKOTA          ND            588
21          ME                        MAINE          ME            586
50          WV                WEST VIRGINIA          WV            552
30          NH                NEW HAMPSHIRE          NH            495
6           CT                  CONNECTICUT          CT            434
47          VT                      VERMONT          VT            411
39          RI                 RHODE ISLAND          RI            242
8           DE                     DELAWARE          DE            148
7           DC         DISTRICT OF COLUMBIA          DC             18
44          UM  U.S. MINOR OUTLYING ISLANDS          UM              1

,City,County,State_x,Min Year,Max Year,Year Difference,StateCode,State_y,Station Count
0,Vallejo,Solano,CALIFORNIA,2000,2015,15,CA,CALIFORNIA,3166
1,Bethel Island,Contra Costa,CALIFORNIA,2000,2015,15,CA,CALIFORNIA,3166
2,Lompoc,Santa Barbara,CALIFORNIA,2000,2015,15,CA,CALIFORNIA,3166
3,San Pablo,Contra Costa,CALIFORNIA,2000,2015,15,CA,CALIFORNIA,3166
4,Capitan,Santa Barbara,CALIFORNIA,2000,2015,15,CA,CALIFORNIA,3166
...,...,...,...,...,...,...,...,...,...
93,Davenport,Scott,IOWA,2014,2015,1,IA,IOWA,1106
94,St. Louis,St. Louis City,MISSOURI,2014,2014,0,MO,MISSOURI,1624
95,Not in a city,Ada,IDAHO,2010,2010,0,ID,IDAHO,846
96,Not in a city,Rockingham,NEW HAMPSHIRE,2015,2015,0,NH,NEW HAMPSHIRE,495
97,Not in a city,Honolulu,HAWAII,2015,2015,0,HI,HAWAII,801

In [ ]:
# generate a list of stationId for those states with 10 or more years of data
states_10_years = pollution_summary_stat_count[pollution_summary_stat_count['Year Difference'] >= 10]

KeyError: 'StationId'

In [17]:
station_list = states_10_years['StationId'].tolist()
station_list

KeyError: 'StationId'