# **Weather Load Transform Clean and extract**

## Objectives

* Investigate world weather data, clean for US and targetted measurements, save out to zip file for use in Dashboard

## Inputs

* ghcnd yearly weather files and station_list

## Outputs

* File per year for US and target elements, pivotted to have 1 row per station per day
* unified file for US for 2000-2016 limited to stations within 10km of cities from the pollution data.

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [3]:
import os
import pandas as pd
current_dir = os.getcwd()
print(current_dir)
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")
current_dir = os.getcwd()
print(current_dir)

h:\VScode\March Group\March_Team_Project\jupyter_notebooks
You set a new current directory
h:\VScode\March Group\March_Team_Project

# Section 1

Section 1 content

In [4]:
# load csv files from Not_to_be_shared_to_repo folder
# apply the following column names to the file, Station_ID, Date, DataValue, MFlag, QFlag, SFlag, ObsTime
weather_df = pd.read_csv('Not_to_be_shared_to_repo/2000.csv.gz', header=None)
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34973736 entries, 0 to 34973735
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       object
 3   3       int64
 4   4       object
 5   5       object
 6   6       object
 7   7       float64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.1+ GB

YEAR/MONTH/DAY = 8 character date in YYYYMMDD format (e.g. 19860529 = May 29, 1986)
ELEMENT = 4 character indicator of element type 
DATA VALUE = 5 character data value for ELEMENT 
M-FLAG = 1 character Measurement Flag 
Q-FLAG = 1 character Quality Flag 
S-FLAG = 1 character Source Flag 
OBS-TIME = 4-character time of observation in hour-minute format (i.e. 0700 =7:00 am)

In [5]:
weather_df.columns = ["Station_ID", "Date", "Element","DataValue", "MFlag", "QFlag", "SFlag", "ObsTime"]
# set the column names
weather_df.head()

    Station_ID      Date Element  DataValue MFlag QFlag SFlag  ObsTime
0  AE000041196  20000101    TMAX        278   NaN   NaN     I      NaN
1  AE000041196  20000101    TMIN        121   NaN   NaN     I      NaN
2  AE000041196  20000101    TAVG        186     H   NaN     S      NaN
3  AEM00041194  20000101    TMAX        251   NaN   NaN     S      NaN
4  AEM00041194  20000101    TMIN        135   NaN   NaN     S      NaN

Load list of Stations from ghcnd=stations.txt, apply column headings and drop unrequired columns then view data

In [11]:
# load the ghcnd-stations.txt file - fixed width file no header
stations_df = pd.read_fwf('Source_Data/ghcnd-stations.txt', header=None)
stations_df.columns = [ "StationId","Latitude", "Longitude", "Elevation", "Name", "GSN_Flag", "HCN_CRN_Flag", "WMO_ID"]
# Drop GSN_Flag, HCN_CRN_Flag, WMO_ID columns
stations_df.drop(["GSN_Flag", "HCN_CRN_Flag", "WMO_ID"], axis=1, inplace=True)
stations_df

          StationId  Latitude  Longitude  Elevation                   Name
0       ACW00011604   17.1167   -61.7833       10.1  ST JOHNS COOLIDGE FLD
1       ACW00011647   17.1333   -61.7833       19.2               ST JOHNS
2       AE000041196   25.3330    55.5170       34.0    SHARJAH INTER. AIRP
3       AEM00041194   25.2550    55.3640       10.4             DUBAI INTL
4       AEM00041217   24.4330    54.6510       26.8         ABU DHABI INTL
...             ...       ...        ...        ...                    ...
129652  ZI000067969   21.0500    29.3670      861.0         WEST NICHOLSON
129653  ZI000067975   20.0670    30.8670     1095.0               MASVINGO
129654  ZI000067977   21.0170    31.5830      430.0          BUFFALO RANGE
129655  ZI000067983   20.2000    32.6160     1132.0               CHIPINGE
129656  ZI000067991   22.2170    30.0000      457.0             BEITBRIDGE

[129657 rows x 5 columns]

Load countries data, apply column names, then load states data, apply column names

In [12]:
# load ghcnd-countries.txt file - fixed width file no header
countries_df = pd.read_fwf('Source_Data/ghcnd-countries.txt', header=None)
countries_df.columns = ["CountryCode", "Name"]

# Load ghcnd-states.txt file - fixed width file no header
states_df = pd.read_fwf('Source_Data/ghcnd-states.txt', header=None)
states_df.columns = ["StateCode", "Name"]

print(countries_df.head())
print(states_df.head())

  CountryCode                  Name
0          AC   Antigua and Barbuda
1          AE  United Arab Emirates
2          AF           Afghanistan
3          AG               Algeria
4          AJ            Azerbaijan
  StateCode            Name
0        AB         ALBERTA
1        AK          ALASKA
2        AL         ALABAMA
3        AR        ARKANSAS
4        AS  AMERICAN SAMOA

---

Remove country id from beginning of station_id - as explained in GHCND_readme.txt, then drop unrequired columns from data

In [13]:
# add column to weather_df for the country code = set it to the first 2 characters of the Station_ID
weather_df['CountryCode'] = weather_df['Station_ID'].str[:2]
weather_df.head()
# drop weather_df MFlag, QFlag, SFlag, ObsTime columns
# weather_df.drop(["MFlag", "QFlag", "SFlag", "ObsTime"], axis=1, inplace=True)

    Station_ID      Date Element  DataValue CountryCode
0  AE000041196  20000101    TMAX        278          AE
1  AE000041196  20000101    TMIN        121          AE
2  AE000041196  20000101    TAVG        186          AE
3  AEM00041194  20000101    TMAX        251          AE
4  AEM00041194  20000101    TMIN        135          AE

Calculate records by Country and deduplicate the Weather data

In [14]:
# count of rows in weather_df by country
print(weather_df['CountryCode'].value_counts())
# deduplicate the weather_df by station_id, element, date, taking the first record if multiple records exist
weather_df = weather_df.drop_duplicates(subset=["Station_ID", "Element", "Date"], keep='first')
# count of rows in weather_df by country
print(weather_df['CountryCode'].value_counts())

CountryCode
US    20092001
CA     2982729
AS     2916911
MX     2783511
RS      936333
        ...
SX         188
RW         115
ZA          48
EK           3
IO           1
Name: count, Length: 196, dtype: int64
CountryCode
US    20092001
CA     2982729
AS     2916911
MX     2783511
RS      936333
        ...
SX         188
RW         115
ZA          48
EK           3
IO           1
Name: count, Length: 196, dtype: int64

As no duplications identified = this step can be ignored in the future.

From stationid extract the country code and count records

In [15]:
# seperate the countryid out of the stations_df based on 1st 2 chracters of the StationId
stations_df['CountryCode'] = stations_df['StationId'].str[:2]
# count stations by country
print(stations_df['CountryCode'].value_counts())

CountryCode
US    75846
AS    17088
CA     9269
BR     5989
MX     5249
      ...
RW        1
SB        1
SE        1
CB        1
NN        1
Name: count, Length: 219, dtype: int64

Confirm that there are no rogue country codes in the stations_df, then filter both files for data from US only , then produce list of Elements in weather data for US records

In [16]:
# check that country code is only country code
# count of rows where CountryCode in stations_df is not in countries_df
print(stations_df[~stations_df['CountryCode'].isin(countries_df['CountryCode'])].shape[0])
# count of rows in weather_df where CountryCode is not in countries_df
print(weather_df[~weather_df['CountryCode'].isin(countries_df['CountryCode'])].shape[0])
# count rows in stations_df
print(stations_df.shape[0])
# count rows in weather_df
print(weather_df.shape[0])
# filter stations_df to only include rows where CountryCode ="US"
stations_df = stations_df[stations_df['CountryCode']=="US"]
# filter weather_df to only include rows where CountryCode ="US"
weather_df = weather_df[weather_df['CountryCode']=="US"]
# count rows in stations_df
print(stations_df.shape[0])
# count rows in weather_df
print(weather_df.shape[0])
# count of Elements in weather_df
print(weather_df['Element'].value_counts())
# list of elements with at data in at least 90% of dates and stations
elements = weather_df['Element'].value_counts()
elements = elements[elements > 0.9 * 365 * 10]
elements = elements.index.tolist()
print(elements)

0
0
129657
34973736
75846
20092001
Element
PRCP    3227238
SNOW    2799342
SNWD    2763856
TMAX    2658783
TMIN    2657783
         ...
MDSF         95
DASF         87
WV07         74
WT10         72
WV18          4
Name: count, Length: 87, dtype: int64
['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'TAVG', 'WESD', 'AWND', 'WSF5', 'WDF2', 'WSF2', 'WDF5', 'FMTM', 'PGTM', 'WT01', 'WT03', 'EVAP', 'WT13', 'WDMV', 'WT16', 'TSUN', 'MNPN', 'MXPN', 'SX02', 'SN02', 'WESF', 'SN32', 'SX32', 'WT08', 'WT18', 'WT02', 'SX03', 'SN03', 'SN52', 'SX52', 'SN01', 'SX01', 'WT11', 'WT04', 'WT06', 'WT05', 'MDPR', 'DAPR', 'SX12', 'SN12', 'WT22', 'SN31', 'SX31']

Filter weather for chosen elements, pivot data to produce 1 line per station per day and then perform a comparison of rows containing all elements and those only with the chosen elements

In [17]:
ElementList = [
  "PRCP",  # Precipitation (tenths of mm)
  "WT03",  # Thunder
  "WT16",  # Rain (may include freezing rain, drizzle, and freezing drizzle)

  "SNOW",  # Snowfall (mm)
  "SNWD",  # Snow depth (mm)
  "WESD",  # Water equivalent of snow on the ground (tenths of mm)
  'WESF',  # Water equivalent of snowfall (tenths of mm)
  "WT01",  # Fog, ice fog, or freezing fog (may include heavy fog)
  "WT04",  # Ice pellets, sleet, snow pellets, or small hail"
  "WT18",  # Snow, snow pellets, snow grains, or ice crystals
  'WT22',  # Ice fog or freezing fog
  "WT09",  # Blowing or drifting snow
  
  "TMAX",  # Maximum temperature (tenths of degrees C)
  "TMIN",  # Minimum temperature (tenths of degrees C)
  "TAVG",  # Average temperature (tenths of degrees C)

  "TSUN",  # Daily total sunshine (minutes)

  "AWND",  # Average daily wind speed (tenths of meters per second)
  # "WDF2",  # Direction of fastest 2-minute wind (degrees)
  # "WDF5",  # Direction of fastest 5-second wind (degrees)
  # "WSF2",  # Fastest 2-minute wind speed (tenths of meters per second)
  # "WSF5",  # Fastest 5-second wind speed (tenths of meters per second)
  # "FMTM",  # Time of fastest mile or fastest 1-minute wind (hours and minutes, i.e., HHMM)
  "PGTM",  # Peak gust time (hours and minutes, i.e., HHMM)
  # "WDMV",  # 24-hour wind movement (km)
  'WT11',  # High or damaging winds
  "WT06",  # Glaze or rime
  "WT08",  # Smoke or haze
  "WT05",  # Hail (may include small hail)
  "WT02",  # Heavy fog or heaving freezing fog (not always distinguished from fog)
  "WT13",  # Mist
  ]

# save Stations_df to a csv file called Us_Stations.csv
stations_df.to_csv("Us_Stations.csv", index=False)
# filter weather_df to only include rows where Element in ElementList
weather_df = weather_df[weather_df['Element'].isin(ElementList)]
# count rows in weather_df
print(weather_df.shape[0])
# unpack weather_df Element in to seperate columns with value eq to DataValue where Element = TMAX, grouped by Station_Id and Date
weather_up_df = weather_df.pivot_table(index=["Station_ID", "Date"],
                     columns="Element",
                     values="DataValue",
                     aggfunc='first').reset_index()

# Ensure a column exists for each value in ElementList
for element in ElementList:
  if element not in weather_up_df.columns:
    weather_up_df[element] = None
# count rows of weather_df
print(weather_up_df.shape[0])
# save weather_df to a csv file called Us_Weather_Unpacked.zip
weather_up_df.to_csv("Us_Weather_Unpacked.zip", index=False, compression='zip')

16255417
3604040

Quick look at a single station to confirm that the pivot_table is working correctly

In [ ]:
weather_up_df[weather_up_df["Station_ID"] == "USW00094173"].head(100)

Do the same for a single element in the original data format

In [ ]:
# weather_df.head(100)
weather_df[weather_df["Element"] == "WT01"].head(100)

# Scripts to bulk load and clean yearly data files using techniks from above

Load annual data, filter for US and required elements, drop unrequired columns, perform pivot and resave as a zip file, print file name created and row/column counts

In [26]:
ElementList = [
  "WT16",  # Rain (may include freezing rain, drizzle, and freezing drizzle)
  "WT01",  # Fog, ice fog, or freezing fog (may include heavy fog)
  "WT04",  # Ice pellets, sleet, snow pellets, or small hail"
  "WT18",  # Snow, snow pellets, snow grains, or ice crystals
  'WT22',  # Ice fog or freezing fog
  "WT09",  # Blowing or drifting snow
  "TMAX",  # Maximum temperature (tenths of degrees C)
  "TMIN",  # Minimum temperature (tenths of degrees C)
  "TAVG",  # Average temperature (tenths of degrees C)
  "TSUN",  # Daily total sunshine (minutes)
  "AWND",  # Average daily wind speed (tenths of meters per second)
  "PGTM",  # Peak gust time (hours and minutes, i.e., HHMM)
  'WT11',  # High or damaging winds
  "WT06",  # Glaze or rime
  "WT08",  # Smoke or haze
  "WT05",  # Hail (may include small hail)
  "WT02",  # Heavy fog or heaving freezing fog (not always distinguished from fog)
  "WT13",  # Mist
  "PRCP",  # Precipitation (tenths of mm)
  "WT03",  # Thunder
  "WDMV",  # 24-hour wind movement (km)
  "SNOW",  # Snowfall (mm)
  "SNWD",  # Snow depth (mm)
  ]

weather_df  = pd.DataFrame()
weather_up_df = pd.DataFrame()

# list of files to load
FileToLoad = [  # "2000.csv.gz",
              # "2001.csv.gz",
              # "2002.csv.gz",
              "2003.csv.gz",
              "2004.csv.gz",
              "2005.csv.gz",
              "2006.csv.gz",
              "2007.csv.gz",
              "2008.csv.gz",
              "2009.csv.gz",
              "2010.csv.gz",
              "2011.csv.gz",
              "2012.csv.gz",
              "2013.csv.gz",
              # "2014.csv.gz",
              # "2015.csv.gz",
              # "2016.csv.gz",
              ]

# load a file from the list above then process it and append it to weather_df
for file in FileToLoad:
    # add filename to path "Not_to_be_shared_to_repo/"
    filepath = os.path.join("Not_to_be_shared_to_repo", file)
    # setup df
    weather_df  = pd.DataFrame()
    weather_up_df = pd.DataFrame()
    # load weather stations within 10Km of pollution data cities
    stations_df = pd.read_csv("Source_Data\\Us_Stations_with_City_100km.csv")
    # Print filepath
    print(filepath)
    # load the file
    weather_df = pd.read_csv(filepath, header=None)
    # Name columns
    weather_df.columns = ["Station_ID", "Date", "Element", "DataValue", "MFlag", "QFlag", "SFlag", "ObsTime"]
    # Extract Country Code
    weather_df['CountryCode'] = weather_df['Station_ID'].str[:2]
    # Drop unneccesary columns
    weather_df.drop(["MFlag", "QFlag", "SFlag", "ObsTime"], axis=1, inplace=True)
    # Deduplicate weather_df
    weather_df = weather_df.drop_duplicates(subset=["Station_ID", "Element", "Date"], keep='first')
    # filter weather_df to only include rows where CountryCode ="US"
    weather_df = weather_df[weather_df['CountryCode']=="US"]
    # filter to only keep stations that are in stations_df
    weather_df = weather_df[weather_df['Station_ID'].isin(stations_df['StationId'])]
    # filter weather_df to only include rows where Element in ElementList
    weather_df = weather_df[weather_df['Element'].isin(ElementList)]
    # unpack weather_df Element in to seperate columns with value eq to DataValue where Element = TMAX, grouped by Station and Date
    weather_df = weather_df.pivot_table(index=["Station_ID", "Date"],
                                        columns="Element",
                                        values="DataValue",
                                        aggfunc='first').reset_index()
    # print the shape of weather_df
    print(weather_df.shape)
    # add filename to path "Not_to_be_shared_to_repo/"
    filename = f"Us_{file}_Weather_Unpacked.zip"
    filepath = os.path.join("Not_to_be_shared_to_repo", filename)
    # implement save append to csv file
    weather_df.to_csv(filepath, index=True, mode='a', header=True, compression='zip')
    # drop weather_df and weather_up_df
    del weather_df
    # print file name

Not_to_be_shared_to_repo\2003.csv.gz
(829684, 25)
Not_to_be_shared_to_repo\2004.csv.gz
(848217, 25)
Not_to_be_shared_to_repo\2005.csv.gz
(858366, 25)
Not_to_be_shared_to_repo\2006.csv.gz
(992182, 25)
Not_to_be_shared_to_repo\2007.csv.gz
(1214495, 25)
Not_to_be_shared_to_repo\2008.csv.gz
(1537117, 25)
Not_to_be_shared_to_repo\2009.csv.gz
(1732786, 25)
Not_to_be_shared_to_repo\2010.csv.gz
(1807325, 25)
Not_to_be_shared_to_repo\2011.csv.gz
(1852406, 25)
Not_to_be_shared_to_repo\2012.csv.gz
(1962669, 25)
Not_to_be_shared_to_repo\2013.csv.gz
(2001884, 25)

Load pivotted, filtered data by year and filter for required cities - append into single file and save.

In [27]:

FileToLoad = [
    # "Us_2000.csv.gz_Weather_Unpacked.zip",
    # "Us_2001.csv.gz_Weather_Unpacked.zip",
    # "Us_2002.csv.gz_Weather_Unpacked.zip",
    "Us_2003.csv.gz_Weather_Unpacked.zip",
    "Us_2004.csv.gz_Weather_Unpacked.zip",
    "Us_2005.csv.gz_Weather_Unpacked.zip",
    "Us_2006.csv.gz_Weather_Unpacked.zip",
    "Us_2007.csv.gz_Weather_Unpacked.zip",
    "Us_2008.csv.gz_Weather_Unpacked.zip",
    "Us_2009.csv.gz_Weather_Unpacked.zip",
    "Us_2010.csv.gz_Weather_Unpacked.zip",
    "Us_2011.csv.gz_Weather_Unpacked.zip",
    "Us_2012.csv.gz_Weather_Unpacked.zip",
    "Us_2013.csv.gz_Weather_Unpacked.zip",
    # "Us_2014.csv.gz_Weather_Unpacked.zip",
    # "Us_2015.csv.gz_Weather_Unpacked.zip",
    # "Us_2016.csv.gz_Weather_Unpacked.zip",
    ]

weather_df = pd.DataFrame()
weather_up_df = pd.DataFrame()



# load file from list and append to weather_final_df
for file in FileToLoad:
    # set path for fileload
    loadfile = "Not_to_be_shared_to_repo/"
    filepath = os.path.join(loadfile, file)
    # load file
    weather_df = pd.read_csv(filepath)
    # filter to only keep stations that are in stations_df
    weather_df = weather_df[weather_df['Station_ID'].isin(stations_df['StationId'])]
    # append to weather_final_df
    weather_up_df = pd.concat([weather_up_df, weather_df], ignore_index=True)
    # print file name
    print(file)
    # print shape of weather_final_df
    print(weather_up_df.shape)
    # drop weather_df

# save weather_final_df to a csv file called Us_Weather_Final.csv
weather_up_df.to_csv("Not_to_be_shared_to_repo/Us_Weather_Final_10km_V2.zip", index=True, header=True, compression='zip')

Us_2003.csv.gz_Weather_Unpacked.zip
(829684, 26)
Us_2004.csv.gz_Weather_Unpacked.zip
(1677901, 26)
Us_2005.csv.gz_Weather_Unpacked.zip
(2536267, 26)
Us_2006.csv.gz_Weather_Unpacked.zip
(3528449, 26)
Us_2007.csv.gz_Weather_Unpacked.zip
(4742944, 26)
Us_2008.csv.gz_Weather_Unpacked.zip
(6280061, 26)
Us_2009.csv.gz_Weather_Unpacked.zip
(8012847, 26)
Us_2010.csv.gz_Weather_Unpacked.zip
(9820172, 26)
Us_2011.csv.gz_Weather_Unpacked.zip
(11672578, 26)
Us_2012.csv.gz_Weather_Unpacked.zip
(13635247, 26)
Us_2013.csv.gz_Weather_Unpacked.zip
(15637131, 26)

---

In [28]:
import pandas as pd

# import csv from source/simplemaps-worldcities-basic.csv
cities_df = pd.read_csv("Source_Data\\simplemaps_uscities_basicv1.90.zip")
# import csv pollution_data_available.csv
pollution_df = pd.read_csv("Outputs\\pollution_data_available.csv")
# update pollution_df with lat and long from cities_df
pollution_df = pollution_df.merge(cities_df, left_on='City', right_on='city', how='left')
#show data
pollution_df
# save pollution_df to a csv file called city_data_inc_latlog_.csv
pollution_df.to_csv("city_data_inc_latlog_.csv", index=False)

Augment the Pollution Dataset with Coordinates:

Retrieve the latitude and longitude for each city in the pollution dataset. Resources like the SimpleMaps US Cities Database provide comprehensive data on U.S. cities, including their geographic coordinates.

In [29]:
# Load the city_data_inc_latlog_.csv file
city_df = pd.read_csv("city_data_inc_latlog_.csv")
#drop unneccesary columns
# city_df.drop(["city", "admin_name", "population", "id", "zips", "County", "State", "incorporated", "source", "ranking", "timezone"], axis=1, inplace=True)
#show data
city_df

,City,County,State,Min Year,Max Year,Year Difference,city,city_ascii,state_id,state_name,...,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,Vallejo,Solano,California,2000,2015,15,Vallejo,Vallejo,CA,California,...,-122.2342,171414.0,1581.2,shape,False,True,America/Los_Angeles,2.0,94592 94591 94589 94590,1.840021e+09
1,Phoenix,Maricopa,Arizona,2000,2015,15,Phoenix,Phoenix,AZ,Arizona,...,-112.0892,4065338.0,1210.3,shape,False,True,America/Phoenix,1.0,85009 85003 85006 85007 85004 85083 85086 8508...,1.840021e+09
2,Phoenix,Maricopa,Arizona,2000,2015,15,Phoenix,Phoenix,OR,Oregon,...,-122.8154,4383.0,1184.7,shape,False,True,America/Los_Angeles,3.0,97535,1.840020e+09
3,Phoenix,Maricopa,Arizona,2000,2015,15,Phoenix,Phoenix,NY,New York,...,-76.2961,2393.0,789.3,shape,False,True,America/New_York,3.0,13135,1.840004e+09
4,Phoenix,Maricopa,Arizona,2000,2015,15,Phoenix,Phoenix,IL,Illinois,...,-87.6308,1284.0,1069.3,shape,False,True,America/Chicago,3.0,60426,1.840011e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Boston,Suffolk,Massachusetts,2003,2013,10,Boston,Boston,GA,Georgia,...,-83.7899,1305.0,223.6,shape,False,True,America/New_York,3.0,31626,1.840014e+09
93,Boston,Suffolk,Massachusetts,2003,2013,10,Boston,Boston,IN,Indiana,...,-84.8517,262.0,89.5,shape,False,True,America/Indiana/Indianapolis,3.0,47324,1.840009e+09
94,Boston,Suffolk,Massachusetts,2003,2013,10,Boston,Boston,VA,Virginia,...,-75.8437,156.0,23.5,shape,False,False,America/New_York,3.0,23420,1.840025e+09
95,Boston,Suffolk,Massachusetts,2003,2013,10,Boston,Boston,KY,Kentucky,...,-85.6804,154.0,30.3,shape,False,False,America/New_York,3.0,40107,1.840027e+09
96,Boston,Suffolk,Massachusetts,2003,2013,10,Boston,Boston,PA,Pennsylvania,...,-79.8237,142.0,773.9,shape,False,False,America/New_York,3.0,15135,1.840026e+09

Calculate Distances Between Cities and Stations:

Utilize the Haversine formula to compute the great-circle distance between each city and all monitoring stations. This formula calculates the shortest distance over the Earth's surface, providing an accurate measure between two points specified by their latitude and longitude.

In [30]:
import numpy as np
# load US_Stations.csv
stations_df = pd.read_csv("Source_Data\\Us_Stations.csv")
#

# Function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    return R * c  # Distance in km

# using the lat and long from the stations_df and city_df calculate the distance between the two
stations_df['City'] = None
stations_df['CityDistance'] = None
for i, station in stations_df.iterrows():
    lat1, lon1 = station['Latitude'], station['Longitude']
    min_distance = np.inf
    for j, city in city_df.iterrows():
        lat2, lon2 = city['lat'], city['lng']
        distance = haversine(lat1, lon1, lat2, lon2)
        if distance < min_distance:
            min_distance = distance
            stations_df.at[i, 'City'] = city['city']
            stations_df.at[i, 'CityDistance'] = min_distance

# display data
stations_df

,StationId,Latitude,Longitude,Elevation,Name,CountryCode,City,CityDistance
0,US009052008,43.7333,-96.6333,482.0,SIOUX FALLS (ENVIRON. CAN,US,Concord,152.803597
1,US10RMHS145,40.5268,105.1113,1569.1,RMHS 1.6 SSW,US,Long Beach,9194.911455
2,US10adam001,40.5680,-98.5069,598.0,JUNIATA 1.5 S,US,Washington,149.439968
3,US10adam002,40.5093,-98.5493,601.1,JUNIATA 6.0 SSW,US,Washington,149.005169
4,US10adam003,40.4663,-98.6537,615.1,HOLSTEIN 0.1 NW,US,Washington,154.405664
...,...,...,...,...,...,...,...,...
75841,USW00096405,60.4731,145.3542,25.3,CORDOVA 14 ESE,US,Long Beach,5696.866306
75842,USW00096406,64.5014,154.1297,78.9,RUBY 44 ESE,US,Long Beach,5107.900915
75843,USW00096407,66.5620,159.0036,6.7,SELAWIK 28 E,US,Long Beach,4831.525021
75844,USW00096408,63.4519,150.8747,678.2,DENALI 27 N,US,Long Beach,5296.779038
75845,USW00096409,68.6483,149.3986,750.1,TOOLIK LAKE 5 ENE,US,Long Beach,5163.9125

In [22]:
# save stations_df to a csv file called Us_Stations_with_City.csv
stations_df.to_csv("Source_Data\\Us_Stations_with_City.csv", index=False)

In [23]:
# filter stations_df to provide only the stations that are within 100km of a city
stations_df = stations_df[stations_df['CityDistance'] < 100]
# display data
stations_df

,StationId,Latitude,Longitude,Elevation,Name,CountryCode,City,CityDistance
82,US10boyd002,42.9095,-98.8492,552.9,BUTTE 0.1 S,US,Dallas,65.421913
83,US10boyd003,42.9141,-98.6603,513.0,SPENCER 3.5 NE,US,Dallas,78.381858
84,US10boyd005,42.9096,-98.8428,555.0,BUTTE 0.4 ESE,US,Dallas,65.847671
85,US10brow001,42.5359,-99.7092,791.9,LONG PINE 0.4 W,US,Dallas,79.60591
88,US10brow005,42.6748,-99.7695,686.1,LONG PINE 15.7 ESE,US,Dallas,65.886702
...,...,...,...,...,...,...,...,...
75828,USW00094978,41.7631,-96.1797,312.1,TEKAMAH MUNI AP,US,Washington,40.707
75829,USW00094982,41.6117,-90.5808,259.4,DAVENPORT,US,Washington,99.014447
75833,USW00094990,43.3892,-99.8433,615.1,WINNER WILEY FLD,US,Dallas,31.270658
75838,USW00094995,40.8483,-96.5650,362.4,LINCOLN 8 ENE,US,Washington,68.028597
75839,USW00094996,40.6953,-96.8542,418.2,LINCOLN 11 SW,US,Washington,95.08078

In [24]:
# save stations_df to a csv file called Us_Stations_with_City_100km.csv
stations_df.to_csv("Source_Data\\Us_Stations_with_City_100km.csv", index=False)